.tasklist {
  margin: auto;
  padding: 0 0.75rem 0.75rem;
}

.tasklist_title {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.tasklist_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.75rem;
}

@media(min-width: 600px) {
  .tasklist {
    padding: 0 1rem;
  }

  .tasklist_list {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1rem;
  }
}

.task {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media(min-width: 600px) {
  .task{
    padding: 0.75rem 1.5rem 0.5rem;
  }
}

.task_title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.task_description {
  font-size: 14px;
  color: #555;
}

.task_details {
  display: flex;
  font-size: 0.75rem;
}

.task_author {
  font-weight: 500;
}

.task_createdat {
  margin-left: auto;
  font-style: italic;
}

.createtask {
  position: absolute;
  top: min(95%, 80vh);
  right: 8%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--layout-color);
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 100vh;
  cursor: pointer;
}

.createtask_text {
  display: none;
}

.createtask_icon > img {
  filter: invert(1);
  width: 48px;
  vertical-align: middle;
}

@media(min-width: 600px) {
  .createtask {
    padding: 0.5rem 1.5rem;
    right: 5%;
  }
  .createtask_icon > img {
    filter: invert(1);
    width: 28px;
    vertical-align: middle;
  }

  .createtask_text {
    display: block;
  }
}